<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright University of Toronto 2006 (c) -->
<!-- $Id$ -->

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean
    class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

  <bean
    class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
    <property name="transactionInterceptor">
      <bean
        class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager">
          <ref local="platformTransactionManager" />
        </property>
        <property name="transactionAttributeSource">
          <bean
            class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
        </property>
      </bean>
    </property>
  </bean>

</beans>