<?xml version="1.0" encoding="UTF-8"?>
<!--
  * Copyright (c) 2006 Encore Research Group, University of Toronto
  * 
  * This library is free software; you can redistribute it and/or
  * modify it under the terms of the GNU Lesser General Public
  * License as published by the Free Software Foundation; either
  * version 2.1 of the License, or (at your option) any later version.
  *
  * This library is distributed in the hope that it will be useful,
  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  * Lesser General Public License for more details.
  *
  * You should have received a copy of the GNU Lesser General Public
  * License along with this library; if not, write to the Free Software
  * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->

<!-- $Id$ -->

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


  <!-- ======================== FILTER CHAIN ======================= -->

  <!--  if you wish to use channel security, add "channelProcessingFilter," in front
    of "httpSessionContextIntegrationFilter" in the list below -->
  <bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
    <property name="filterInvocationDefinitionSource">
      <value>
        CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
        PATTERN_TYPE_APACHE_ANT
        /**=httpSessionContextIntegrationFilter,authenticationProcessingFilter,anonymousProcessingFilter,exceptionTranslationFilter,filterInvocationInterceptor
      </value>
      <!--
        <value>
        CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
        PATTERN_TYPE_APACHE_ANT
        /**=httpSessionContextIntegrationFilter,authenticationProcessingFilter,basicProcessingFilter,rememberMeProcessingFilter,anonymousProcessingFilter,switchUserProcessingFilter,exceptionTranslationFilter,filterInvocationInterceptor
        </value>
      -->
    </property>
  </bean>


  <!-- ======================== AUTHENTICATION ======================= -->

  <bean id="authenticationManager"
    class="org.acegisecurity.providers.ProviderManager">
    <property name="providers">
      <list>
        <ref local="daoAuthenticationProvider" />
        <ref local="anonymousAuthenticationProvider" />
      </list>
    </property>
  </bean>

  <bean id="daoAuthenticationProvider"
    class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
    <property name="userDetailsService">
      <ref bean="userDetailsService" />
    </property>
    <!--
      <property name="passwordEncoder">
      <ref local="passwordEncoder" />
      </property>
    -->
    <property name="saltSource">
      <ref local="systemSaltSource" />
    </property>
  </bean>

  <!--
    <bean id="passwordEncoder"
    class="org.acegisecurity.providers.encoding.PlaintextPasswordEncoder" />
  -->

  <bean id="systemSaltSource"
    class="org.acegisecurity.providers.dao.salt.SystemWideSaltSource">
    <property name="systemWideSalt">
      <value>secret</value>
    </property>
  </bean>

  <!-- Automatically receives AuthenticationEvent messages -->
  <bean id="loggerListener"
    class="org.acegisecurity.event.authentication.LoggerListener" />

  <bean id="authenticationProcessingFilter"
    class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilter">
    <property name="authenticationManager">
      <ref local="authenticationManager" />
    </property>
    <property name="authenticationFailureUrl">
      <value>/login.jsp?failed=true</value>
    </property>
    <property name="alwaysUseDefaultTargetUrl">
      <value>false</value>
    </property>
    <property name="defaultTargetUrl">
      <value>/</value>
    </property>
    <property name="filterProcessesUrl">
      <value>/j_acegi_security_check</value>
    </property>
  </bean>

  <bean id="authenticationEntryPoint"
    class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
    <property name="loginFormUrl">
      <value>/login.jsp</value>
    </property>
  </bean>

  <bean id="anonymousProcessingFilter"
    class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
    <property name="key">
      <value>fubar</value>
    </property>
    <property name="userAttribute">
      <value>Anonymous User,ROLE_ANONYMOUS</value>
    </property>
  </bean>

  <bean id="anonymousAuthenticationProvider"
    class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
    <property name="key">
      <value>fubar</value>
    </property>
  </bean>

  <!--
    For HTTP Basic Authentication, we don't have access to HttpSession
    for use under the event notification system.
    <bean id="basicProcessingFilter"
    class="org.acegisecurity.ui.basicauth.BasicProcessingFilter">
    <property name="authenticationManager">
    <ref bean="authenticationManager" />
    </property>
    <property name="authenticationEntryPoint">
    <ref bean="basicAuthenticationEntryPoint" />
    </property>
    </bean>
    
    <bean id="basicAuthenticationEntryPoint"
    class="org.acegisecurity.ui.basicauth.BasicProcessingFilterEntryPoint">
    <property name="realmName">
    <value>Name Of Your Realm</value>
    </property>
    </bean>
  -->

  <bean id="httpSessionContextIntegrationFilter"
    class="org.acegisecurity.context.HttpSessionContextIntegrationFilter">
    <property name="context">
      <value>org.acegisecurity.context.SecurityContextImpl</value>
    </property>
  </bean>


  <!-- ===================== HTTP REQUEST SECURITY ==================== -->

  <bean id="exceptionTranslationFilter"
    class="org.acegisecurity.ui.ExceptionTranslationFilter">
    <property name="authenticationEntryPoint">
      <ref local="authenticationEntryPoint" />
    </property>
  </bean>

  <bean id="roleVoter" class="org.acegisecurity.vote.RoleVoter" />

  <bean id="accessDecisionManager"
    class="org.acegisecurity.vote.UnanimousBased">
    <property name="allowIfAllAbstainDecisions">
      <value>false</value>
    </property>
    <property name="decisionVoters">
      <list>
        <ref local="roleVoter" />
      </list>
    </property>
  </bean>

  <bean id="filterInvocationInterceptor"
    class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
    <property name="authenticationManager">
      <ref local="authenticationManager" />
    </property>
    <property name="accessDecisionManager">
      <ref local="accessDecisionManager" />
    </property>
    <property name="objectDefinitionSource">
      <value>
        CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
        PATTERN_TYPE_APACHE_ANT
        <!--
          /secure/super/**=ROLE_SUPERVISOR
          /secure/.* =ROLE_USER,ROLE_SUPERVISOR
        -->
      </value>
    </property>
  </bean>

</beans>