<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright University of Toronto 2006 (c) -->
<!-- $Id$ -->

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <bean id="userDetailsService"
    class="net.sf.sail.webapp.service.authentication.impl.UserDetailsServiceImpl">
    <property name="userDetailsDao">
      <ref local="userDetailsDao" />
    </property>
  </bean>

  <bean id="userDetailsDao"
    class="net.sf.sail.webapp.dao.authentication.impl.HibernateUserDetailsDao">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="grantedAuthorityDao"
    class="net.sf.sail.webapp.dao.authentication.impl.HibernateGrantedAuthorityDao">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="mutableGrantedAuthority" scope="prototype"
    factory-bean="grantedAuthorityDao" factory-method="createDataObject" />

  <bean id="mutableUserDetails" scope="prototype" factory-bean="userDetailsDao"
    factory-method="createDataObject" />

</beans>