<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2006 Encore Research Group, University of Toronto -->
<!-- $Id$ -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!-- Force Hibernate to order SQL updates by the primary key value of the items being updated. This will result in fewer transaction deadlocks in highly concurrent systems. -->
    <property name="hibernate.order_updates">true</property>
    <!-- Enables autocommit for JDBC pooled connections (not recommended). -->
    <property name="hibernate.connection.autocommit">false</property>
    <!-- Pretty print the SQL in the log and console. -->
    <property name="hibernate.format_sql">true</property>
    <mapping
      class="net.sf.sail.webapp.domain.authentication.impl.HibernateGrantedAuthority" />
    <mapping
      class="net.sf.sail.webapp.domain.authentication.impl.HibernateUserDetails" />
  </session-factory>
</hibernate-configuration>