@charset "UTF-8";
/* CSS Document */

	
/* OVERVIEW CHOICES FOR GRADING SECTION  */ 

#overviewContentGrading {
	border-top: 1px solid #666666;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #666666;
	margin:20px 0 20px 0;
	padding:10px 30px 10px 30px;
	}
	
#overviewHeaderGrading {
	font-size:1.5em;
	letter-spacing:3px;
	font-variant:small-caps;
	margin: 10px 0 0 30px;
	padding:0px;
}

#overview_choices_grading   {
	padding:15px 0 30px 5px;
}
	
#overview_choices_grading .link_grading  {
	font-size:1.6em;
	font-weight:bold;
	width:425px;
	}

#overview_choices_grading .description_grading  {
	font-size:.9em;
	margin:0px;
	padding:2px;
	vertical-align:middle;
}

#overview_choices_grading a:link, #overview_choices_grading a:visited   {
	text-decoration:none;
	display:block;
	padding:6px 12px 6px 12px;
	background-image:url(../../images/Pixel_Grading_Highlight.png);
	background-position:left top;
	background-repeat:repeat;
	border-top: 1px solid #999999;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #999999;
}

#overview_choices_grading a:hover  {
	display:block;
	background-color:#FFFF33;
	color:#0000CC;
	padding:6px 12px 6px 12px;
	background-image:none;
	border-top: 1px solid #999999;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #999999;
		}
		
