@charset "UTF-8";
/* CSS Document */

table.sample {
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}
table.sample th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.sample td {
	border-width: 1px 1px 1px 1px;
	padding: 3px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.view {
	border-width: 0px;
	border-spacing: 1px;
	padding: 5px;
}
table.view th {
	border-width: 0px;
	padding: 4px;
}
table.view td {
	border-width: 0px;
	padding: 4px;
}

#tableByStep {
	border: 0px solid #666666;
	border-collapse: collapse;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	cell-padding:5px;
	}

#tableByStep .column1 {
	color:#000000;
	padding: 5px;
}

#tableByStep tr {
	border-bottom: 1px solid #FFFFFF;
}

#gradingProjectInfo {
	padding: 5px;
	}
	
#gradingViewInfo {
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px;
	}
	
#gradingMiniSteps {
	font-size:.8em;
	padding: 5px;
	}
	

#gradingMainTable td {
	border: 1px solid #000000;
	padding:5px;
	}

.tdHeader {
	height:22px;
	padding:7px;
	background-color: #2647A0;
	font-size:1.0em;
	color: #FFFFFF;
	}

.promptTd {
	vertical-align:top;
	background-color:#00FFFF;

}

.answerDiv {
	height: 100%;
	vertical-align:top;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.textareaTd {
vertical-align:bottom;
padding: 0px;
}

textarea {
width: 95%;
height: 95%;
background-color:#FFF1F8;
border: 1px solid #000000;
}

.scorearea {
border: 1px solid #000000;
}

#gradeStepLinks {
	font-size:14px;
	padding-left:80px;
}

.questionField {
	color: #0000FF;
	font-style: italic;
	}

#tableProjectView {
	background-color:#CCFFCC;
	width:100%;
	align:center;
	padding: 5px;
}

#viewStep {
	font-size:16pt;
	font-weight: bold;
}
