
#pickerHeader {
	border:1px solid #666666;
	background-image:url(../../images/student/Gradient-ProjectMenu-Green-400.png);
	background-position:bottom;
	text-align:center;
	padding:0px;
	margin:14px 0 0 0;
	}

#mainHeader {
	font-family: "Lucida Grande", "Lucida San Unicode", "Gill Sans", Arial, Helvetica;
	font-size:2.7em;
	font-weight:bold;
	font-variant:small-caps;
	letter-spacing:1px;
	margin:0px;
	padding:5px 0 3px 0;
}

#subHeader {
	font-size:1.2em;
	padding:0px 0 5px 0;
}

.tableLabel {
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:2.4em;
	font-weight:bold;
	letter-spacing:1px;
	margin:20px 0 8px 0 ;
}
	
	
/* SELECT A PROJECT based on version of Heaven is Closer template  http://icant.co.uk/csstablegallery/index.php?css=27#r27   */

table{
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:  100%;
	border-collapse: collapse;
	margin: 0px 0 20px 0;
	width:100%;
}

caption{
	background: url(title.png) no-repeat 50px;
	font-size: 400%;
	text-indent: -10000px;
}

thead tr{
	font-size:1.2em;
	background-color: #D9FFD9;
	border:1px solid black;
}

thead th{
	padding: 0.5em;
	white-space: nowrap;
		border:1px solid black;
	
}

tr {
	background-color: #EAFDFF;
	padding:6px;
}

tr.odd{
	background-color: #FFFFFF;
}

tbody tr:hover{
	background-color: #FFFF33;
	
}

tbody tr {
	background-color:#FFFFFF;
	}
	
tbody th{
 	text-align:left;
 	padding:0;
 	border:1px solid #333333;
 
}

tbody td{
	padding: 1.2em;
	font-size:1.2em;
	text-align:center;
	border:1px solid #333333;
	
}


td a:link, td a:visited, th a:link,th a:visited {
	display:block;
	color: black;
	font-size:1.6em;
	font-weight:bold;
	padding:14px 5px 14px 5px;
	
}

td a:hover, th a:hover{
	display:block;
	font-size:1.6em;
	font-weight:bold;
	padding:14px 5px 14px 5px;
	background-color:#CCCCFF;
	color: #0000CC;
	
	
}

/*  Special Styles for the projectPickerManagement screen */

#tabPicker {
	padding-right:3px; 
	padding-top:0px; 
	margin-top:20px; 
	font-size:1.3em;
}

#returnToTopLink {
		text-align:center;
		margin:10px;
}

#returnToTopLink a:link, #returnToTopLink a:visited {
	font-size:1.5em;
	color:#0000CC;
	margin:0px;
	padding: 5px;
}

#returnToTopLink a:hover {
	font-size:1.5em;
	background-color:#FFFF66;
	color:#000066;
	margin:0px;
	padding: 5px 10px;
}
