table #runContent{
	border:1px solid #999999;
	padding: 0 20px 20px 20px;
}

#header {
	font-size:2.0em;
	margin-bottom:5px;
	padding-botton:0px;
}

#subHeader {
	margin:3px 0 10px 0 ;
	font-size:.8em;
	font-weight:bold;
}

#currentRunTable {
	border-collapse:collapse;
	margin:5px;
}

.tableHeaderMain {
	background-color:#669933;
	color:#FFFFFF;
	font-size:.8em;
	font-weight:bold;
	padding: 3px 0px;
}

.tableHeaderMain.archive {
	background-color:#FF0000;
	color:#FFFFFF;
	font-size:.9em;
	font-weight:bold;
	padding: 3px 0px;
}

#runTitleRow {
	border-bottom:4px ridge #666666;
	margin-bottom:20px;
	padding-bottom:10px;
}

#titleCell {
	padding: 0 0 10px 0;
	}

#runTitle {
	text-align:center;
	font-size:1.6em;
	font-weight:bold;
	margin: 15px 5px;
	padding:0px;
}

#runTitleTable {
	border-collapse:collapse;
	border:0px;
	text-align:left;
	font-size:.8em;
	color:#000000;
	margin:15px 0 0 10px ;
}

#runTitleTable td {
	padding:3px;
	border:0px;
} 

.runTitleTableHeader {
	font-weight:bold;;
}

#currentRunInfoTable {
	border-collapse:collapse;
	margin:0px;
	padding:0px;
	width:100%;
	}
	
#currentRunInfoTable .tableInnerHeader {
	font-style:italic;
	font-size:.8em;
	font-weight:bold;
	text-align:center;
	padding: 3px 2px;
	border-bottom:1px solid #666666;
	border-right:1px solid #666666;
	background-color:#CCCCCC;
	}

#currentRunInfoTable .tableInnerHeaderRight {
	font-style:italic;
	font-size:.8em;
	font-weight:bold;
	text-align:center;
	padding: 3px 2px;
	border-bottom:1px solid #666666;
	border-right:0px;
	background-color:#CCCCCC;
}

#currentRunInfoTable .tableInnerData {
	font-size:.8em;
	text-align:center;
	padding: 3px 2px;
	border-bottom:1px solid #666666;
	border-right:1px solid #666666;
	margin:0px;
}

#currentRunInfoTable .tableInnerDataRight {
	font-size:.8em;
	text-align:center;
	padding: 3px 2px;
	border-bottom:1px solid #666666;
	border-right:0px;
	margin:0px;
}

#actionList  {
	list-style-type:none;
	text-align:left;
	margin:0px;
	padding:0px;
	}
	
#actionList li, #actionList ul {
	list-style-type:none;
	line-height:100%;
	}
	
#actionList li {
	margin: 1px 0 1px 0;
	}

#currentRunTable a:link, #currentRunTable a:visited, #actionList a:link, #actionList a:visited {
	text-decoration:none;
	font-size:.85em;
	color:#0033CC;
	margin:0 0 0 2px;
	padding:2px 7px 2px 7px;
}


#currentRunTable a:hover, #actionList a:hover {
	font-size:.85em;
	color:#000066;
	margin:0 0 0 2px;
	padding:1px 6px 1px 6px;
	background-color:#ffff33;
	border:1px solid #666666;
}



/* STYLES FOR MY PROJECT RUN: POP UP WINDOWS  */

#popUpBoxBoundary {
	margin:0 auto;
	}

#largeHeader {
	margin-top:30px;
	font-size:2.1em;
	letter-spacing:2px;
	font-variant:small-caps;
	text-align:center;
}

#blockHighlight {
	width:80%;
	text-align:left;
	background-color:#99FF99;
	border:1px solid #000000; 
	margin: 20px auto 20px auto;
	padding:15px;
}

#blockHighlight table td {
	padding:2px 5px;
}

#blockHighlight #blockItem {
 	font-size:1.0em;
	font-weight:bold;
	margin-left:25px;
}

#popUpNotice1 {
	font-size:1.0em;
	font-weight:bold;
	text-align:left;
	padding: 0px 85px;
	margin: 10px auto 20px auto;
}

#popUpNotice2 {
	color:#666666;
}

#responseButtons input {
	border-top:1px solid #666666;
	border-right:2px ridge #000000;
	border-bottom:2px ridge #000000;
	border-left:1px solid #666666;
	background-color:#CCCCCC;
}

#responseButtons input:hover {
	background-color:#FFFF33;
}

#savebutton {
	margin-right:10px;
}


/* STYLES FOR VIEW STUDENTS: POP-UP WINDOWS  */

#popUpWindowViewStudents {
	width:560px;
	background-image: url(../..//images/student/Gradient-ProjectMenu-Green-450.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	border-top:1px solid #666666;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid #666666;
	margin: 40px auto;
	padding:20px;
	}
	
#errorMessage {
	color:#FF0000;
	padding:0px;
	margin:0px;
	font-size:1.3em;
}

#studentchangepasswordbox {
	text-align:left;
	margin: 0 auto;
}

#studentchangepasswordbox dt {
	float:left;
	vertical-align:baseline;
	width:215px;
	font-size:.8em;
	font-weight:bold;
	padding:3px 0px;
	margin:6px 0 0 30px; ;
}

#studentchangepasswordbox dd {
	margin:0px;
	padding:5px 0px;
	 }

.changePasswordField {
	font-size:.8em;
	border-top:1px solid #666666;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid #666666;
	margin:0 0 0 10px;
	padding:3px;
}

#saveCancelButtons {
text-align:center;
margin: 30px auto 5px auto;
}



