
#headingPos{
	position:relative;
	bottom:0px;
}

#runBox{
	position:relative;
	top:15px;
}

#navigation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#navigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#navigation li {
    display: inline;
    margin: 30px;
    padding: 0px;
}

#navigation li.vertical{
	display: block;	
}

#navigation a:link, #navigation a:visited{
    color: #1122BB;
    background-color: transparent;
	text-decoration:none;
}

#navigation li a:hover{
	color: green;
}

ul#tabnav{
	list-style-type:none;
	margin:0em;
	padding:0em;
	font-style: bold;
	font-size: 1em;
	font-family: verdana, arial, sans-serif;
	width:980px;
	background-color:#FFCCCC;
}

ul#tabnav li{
	float:left;
	height:1.1em;
	color: green;
	margin: 0em;
	border: 0.02em;
	border-style: solid;
	border-color: black;
}

ul#tabnav a:link, ul#tabnav a:visited{
	display: block;
	text-decoration: none;
	}

ul#tabnav a:hover{
	background-color: #AA11FF;
	color: #AAEECC;
}

ul#tabnav2{
	width:320px;
	list-style-type:none;
	font-style: bold;
	font-size: 1.3em;
	font-family: verdana, arial, sans-serif;	
}

ul#tabnav2 li{
	float:left;
	height:1em;
	color: black;
	padding:5px;
	border: 0.02em;
	border-style: solid;
	border-color: black;
}

ul#tabnav2 a:link, ul#tabnav2 a:visited{
	display: block;
	background-color: transparent;
	text-decoration: none;
	}

ul#tabnav2 a:hover{
	background-color: #AA11FF;
	color: #000000;
}

#runContent{
	align:center;
	border:1px solid black;
	position:relative;
	top:0px;
	padding-bottom:40px;
	width:980px;
}


img#none{
	border:0px;
}