body, html {
	height: 100%;
	width: 100%;
	background: #fff;
}

body {

}

th {
	font-weight: bold;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 1.4em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

strong {
	font-weight: bold;
}

p {
	margin: 0.3em 0;
}

.logo {
	height: 125px;
	background: url("../images/logo.jpg") no-repeat left bottom;
	margin-top: 0.8em;
	margin-bottom: 1em;
}

/****** MENU AND MENUBAR ******/
ul.menu {
	padding-top: 4px;
	display: block;
}

ul.menu li {
	float: left;
	padding-top: 2px;
	margin: 0 0 0 0.6em;
}

ul.menu li a {
	display: block;
	font-size: 1.1em;
	margin: 1px;
	padding: 0 0.5em;
	border: 0;
	color: #404040;
	text-decoration: none;
	height: 31px;
	line-height: 31px;
	font-variant: small-caps;
}

ul.menu li a:hover {
	margin: 0;
	border: 1px solid white;
	background: url("../images/menu-item-hover-bg.jpg") repeat-x;
}

ul.menu li a.selected {
	margin: 0;
	color: #fff;
	border: 1px inset white;
	background: url("../images/menu-item-selected-bg.jpg") repeat-x;
}

.menubar-wrapper {
	background: url("../images/menubar-bg.jpg") repeat-x;
	height: 47px;
}

.menubar-wrapper .border-left {
	background: url("../images/menubar-corner-left.jpg") no-repeat;
	height: 47px;
}

.menubar-wrapper .border-right {
	background: url("../images/menubar-corner-right.jpg") no-repeat right;
	height: 47px;
}

/****** OPTIONS ******/
.options {
	text-align: right;
	font-size: 0.9em;
}

.options a {
	color: #006699;
	text-decoration: none;
	margin: 0 0.5em;
	padding: 0 0.5em;
	border-right: 1px solid #cccccc;
}

.options a:hover {
	background-color: #ffff99;
	text-decoration: underline;
}

.options a.selected {
	margin: 0;
	color: #fff;
	border: 1px inset #ff6600;
}

.options .loginstatus {
	color: #999999;
}

.options a.login, .options a.logout {
	border-right: 0;
}

.options a.logout {

}

/****** END OPTIONS ******/

.main, .footer {
	background-color: #b0b0b0;
}

.main .border-right, .footer .border-right {
	background: url("../images/body-bg-right.jpg") repeat-y right;
}

.main .border-left, .footer .border-left {
	background: url("../images/body-bg-left.jpg") repeat-y left;
}

.bottom {
	height: 11px;
	background: url("../images/bottom-bg.jpg");
}

.bottom .border-left {
	height: 11px;
	background: url("../images/bottom-corner-left.jpg") no-repeat left;
}

.bottom .border-right {
	height: 11px;
	background: url("../images/bottom-corner-right.jpg") no-repeat right;
}

.content {
	margin-top: 1em;
}

.splitpane .dijitSplitContainer-child {
	border: none;
}

.splitpane .dijitContentPane {
	background: none;
}

.splitpane .dojoxRotatorContainer {
	border: none;
}

.messages li, .errorlist li {
	padding: 0.5em;
	border: 1px solid #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 0.5em;
}

.messages li.info {
	background-color: #99cc00;
}

.errorlist li, .messages li.error {
	margin-top: 1em;
	background-color: #cc0000;
	color: #ffffff;
}

.rounded {
	border: 1px solid #aaa;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.rounded-small {
	border: 1px solid #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.rounded-small.contribution {
	font-size: 0.9em;
	padding: 0.2em;
	margin: 0.2em 0;
	background-color: #fff;
	border: 1px solid #ffffcc;
}

.content.rounded {
	height: 40em;
	padding: 1em;
	border: 1px solid #999;
	background: #fafafa;
}

table.elo-summary th, table.rateform th {
	padding-right: 1em;
}

table.elo-summary tr, table.rateform tr {
	margin: 1em 0;
}

form table td {
	padding: 0.1em;
}

table th {
	font-weight: bold;
}