/* Blanket Rules for All Elements  */
		
body {
	font-family: "Lucida Grande", "Lucida San Unicode", "Gill Sans", Arial, Helvetica;
	font-size: 62.7%;
	margin: 5px;
	text-align: center;
	background-color:#FFFFFF;
	}
	
img {border: 0px;}

h1 {font-size:2.4em;}
h2 {font-size:1.8em;}
h3 {font-size:1.7em;}
h4 {font-size:1.5em;}
h5 {font-size:1.2em;}
p  {font-size:1.0em; line-height:150%;padding:0px; margin:0px;}
	
abbr, acronym {
	cursor:help;
	border-bottom: 1px dotted #666666;	
	}

#bannerArea {
	background-image:url(../images/WISE-Secondary-Banner-Gradient.png);
	background-position: center top;
	width: 960px;
	height: 60px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	}
	
form {margin:0px; padding:0px;}

#centeredDiv {
	background-color:#FFFFFF;
	width: 960px;
	text-align:left;
	padding: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}
	
a:hover {
	color:#990099;
	}

.center {text-align:center;}

/* Teacher & Student Pages  */

#registrationTitle {
	clear:both;
	width:60%;
	text-align: center;
	border: 1px solid #333333;
	background-image: url(../images/GradientFooter.png);
    background-position: bottom;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
		}
	
#subtitleTeacherReg {
	text-align:center;
	margin-bottom:10px;
	margin-top: 20px;
	padding: 0px;
	font-size: 1.5em;
	font-weight: bold;	
		}
		
#subtitleStudentReg {
	text-align:center;
	margin-bottom:10px;
	margin-top: 20px;
	padding: 0px;
	font-size: 1.5em;
	font-weight: bold;	
		}
		
#studentRegForm {
	margin-top:25px;
	}
	
#studentRegForm dl {
	position: relative;
	width:460px;
	font-size: 1.3em;
	border: 1px solid #333333;
	background-color:#CCFFCC;
	padding-top:10px;
	padding-bottom:10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#teacherRegForm {
	margin-top:25px;
	}

#teacherRegForm dl {
	position: relative;
	width:425px;
	font-size: 1.3em;
	border: 1px solid #333333;
	background-color:#CCFFCC;
	padding-top:10px;
	padding-bottom:10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

dt {
	float:left;
	width: 180px;
	text-align: left;
	margin-top:2px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 14px;
}

dd {
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
}

#regButtons {
  clear: both;
  text-align:center;
  margin-top:30px;
}
	
#genderFieldDefault {color:#0099FF;}
#birthMonthFieldDefault {color:#0099FF;}
#birthDateFieldDefault {color:#0099FF;}
#reminderQuestionFieldDefault {color:#0099FF;}

.buttonStyle1 {
	clear: both;
	padding: 15px 6px 15px 10px;
		}

.hint {
  display:none;
  position: absolute;
  right: -215px;
  width: 175px;
  margin-top: -4px;
  border: 1px solid #c93;
  padding: 10px 12px;
  color:#FFFFFF;
  font-size: 1.0em;
  font-weight: bold;
  line-height:120%;
  word-spacing:1px;
  border: 1px solid #003399;
  background: #0099FF url(../images/hint-pointer.gif) no-repeat -100px -100px;
}

.hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background:url(../images/hint-pointer.gif) left top no-repeat;
}

.blueText {
	color: #0000FF;
	padding: 0 0 0 5px;
	}
	
#usernameConfirm {
	border:0px;
	color: #0000FF;
	font-weight:bold;
	padding: 0 0 0 5px;
	font-size:1.2em;
	}

/* FOR TEACHER CONFIRMATION PAGE/  */

#confirmationButtonTeacher {
	position: relative;
	left: 270px;
	font-size:1.0em;
	}

/* FOR STUDENT CONFIRMATION PAGE/  */

#subtitleConfirm  {
	position: relative;
	text-align:left;
	left: 270px;
	margin-bottom:25px;
}

#subtitleConfirm ul {
	font-size: 1.3em;
	text-align:left;
	list-style:none;
}

#subtitleConfirm li {
	background: transparent url(../images/ListBullet.gif) no-repeat left 4px;
	padding: 0 0 0 25px;	
	line-height:150%;
	padding-bottom: 10px;
	width:40%;
}

.smallText {
	font-size:.9em;
	}

#confirmationButtons {
	position: relative;
	left: 270px;
	font-size:1.2em;
	line-height:140%;
	}

.width1 {
	width:35%;
	margin: 0 10px 0 50px;
}

.width2 {
	width:55%;
	margin: 0 10px 0 10px;
}

.width122 {width:122px;}
.width166 {width:166px;}


/* ONLY FOR TEACHER REGISTRATION PAGE/  */

#termsOfUse {
	font-size: .9em;
	}

#curriculumSubjectsBox{
	font-size:.9em;
	width:245px;
	min-height:366px;
	position:absolute;
	top:-1px;
	left:435px;
	border:3px double #666666;
	line-height: 110%;
	background-color:#CCCCCC;
	margin: 0px;
	padding: 4px;
	}
	
#textCurriculumBox {
	font-size:.9em;
	}
	

	
/* FOR TEACHER USAGE AGREEMENT PAGE */

#useAgreement {
	font-size: 1.3em;
	width:70%;
	padding:10px;
	border: 1px solid #000099;
	bordercolor:#000066;
	background-color:#99FF66;
	margin: 10px auto 15px auto;
	}

#useAgreement p {
	line-height:120%;
	margin-bottom:10px;
	text-align:left;
	}
	
	
/* New Account Picker Screen  (Setup.html) */
		
#boxNewAccountReg {
	background-color:#e0f8df;  
	color:#003300;
	border: 1px solid #006600;
	width:60%;
	margin:10px auto 10px auto;
	padding:10px 0 10px 0;
	}
		
#questionPromptReg {
	margin: 20px 0 30px 0;
	ppadding: 0px;
	font-size: 1.6em;
	font-weight: bold;	
		}
		
#newAccountButtons  {
	font-size:1.2em;
	line-height:120%;
	text-align:center;
}

#newAccountButtons ul {
	list-style:none;
	margin: 0 0 20px 0;
	padding:0px;
	}

#newAccountDetails {
	margin: 60px 0 20px 105px;
	padding:0px;
	}
	
#newAccountDetails ul {
	list-style:circle;
	width:80%;
	padding-left:30px;

	}
	
#newAccountDetails li {
	line-height:160%;
	margin-bottom:20px;
	}
	
#homelink {
	position:relative;
	text-align:center;
	margin:15px;
		}