#newAccountHeadingPos{
	position:relative;
	left:250px;
}

#typeOfAccountHeadingPos{
	position:relative;
	left:250px;
}

#teacherAccountHeading{
	display:block;
}

#teacherRegistrationHeading{
	position:relative;
	left:350px;	
}

#studentRegistrationHeading{
	position:relative;
	left:350px;	
	width:220px;
}

#navigation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#navigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#navigation li {
    display: inline;
    margin: 40px;
    padding: 0px;
}

#navigation li.vertical{
	display: block;	
}

#navigation a:link, #navigation a:visited{
    color: #1122BB;
    background-color: transparent;
	text-decoration:none;
}

img{
	border:0px;
}

ul.none{
	list-style-type:none;
}

#account{
	margin: 0px;
	text-align:justify;
	line-height:20px;
	position:relative;
	left:260px;
	width:600px;
	color:black;
	border-style:solid;
	border-width:1px;
	padding:0px;
}

#studentAccountPos{
	position:relative;
	top:8px;
}

#teacherAccountPos{
	position:relative;
	top:8px;
}

.accountRightPos{
	position:relative;
	left:250px;
}

#registerPos{
	position:relative;
	left:370px;
	width:350px;
}


label{
width: 120px;
padding-left:40px;
text-align: left;
margin-right: 10px;
display: inline;
}

label#firstname1{
	margin-left:18px;
	display: inline;
}

label#lastname1{
	margin-left:19px;
	display: inline;
}

label#gender1{
	  margin-left:41px;
	  display: inline;
}

label#birthmonth1{
	margin-left:-9px;
	display: inline;
}

label#birthdate1{
	margin-left:2px;
	display: inline;
}

label#password1{
	margin-left:26px;
	display: inline;
}

label#repeatedPassword1{
	margin-left:-15px;
	display:inline;
}

label#accountQuestion1{
	margin-left:32px;
	display: inline;
}

label#accountAnswer1{
	margin-left:39px;
	display: inline;
}

label#projectCode1{
	margin-left:4px;
	display: inline;
}

label#emailAddress1{
	margin-left:53px;
	display: inline;
}

label#city1{
	margin-left:61px;
	display: inline;
}

label#state1{
	margin-left:55px;
	display: inline;
}

label#country1{
	margin-left:37px;
	display: inline;
}

label#schoolname1{
	margin-left:3px;
	display: inline;
}

label#curriculumsubjects1{
	margin-left:-35px;
	display: inline;
}

label#schoollevel1{
	margin-left:7px;
	display: inline;
}

label#legalAcknowledged1{
	margin-left:53px;
	display: inline;
}
