/* Blanket Rules for All Elements  */
		
body {
	font-family: "Lucida Grande", "Lucida San Unicode", "Gill Sans", Arial, Helvetica;
	font-size: 62.7%;
	margin: 5px;
	text-align: center;
	background-color:#FFFFFF;
	}
	
img {border: 0px;}

h1 {font-size:2.4em;}
h2 {font-size:1.8em;}
h3 {font-size:1.7em;}
h4 {font-size:1.5em;}
h5 {font-size:1.2em;}
p  {font-size:1.0em; line-height:150%;padding:0px; margin:0px;}
	
abbr, acronym {
	cursor:help;
	border-bottom: 1px dotted #666666;	
	}

#bannerArea {
	background-image:url(../images/WISE-Secondary-Banner-Gradient.png);
	background-position: center top;
	width: 960px;
	height: 60px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}
	
#centeredDiv {
	background-color:#FFFFFF;
	width: 960px;
	text-align:left;
	padding: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}
	
a:hover {
	color:#990099;
	}

.center {text-align:center;}

#wiseLogo {
	float:left;
	margin: 3px 0 0 3px;
	}
		
#teacherBannerLabel {
	padding-top:5px;
	margin-left:390px;
	}

#titleBar {
	clear:both;
	width:80%;
	text-align: center;
	border: 1px solid #333333;
	background-image: url(../images/GradientFooter.png);
    background-position: bottom;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
		}

#usernameSignOutBox {
	position:absolute;
	top:7px;
	right:45px;
	text-align:right;
}

#usernameBanner {
	color:#FFFF33;
	font-style:italic;
	font-weight:bold;
	font-size:1.4em;
	margin-bottom:3px;
}

#signOutBanner a:link, #signoutBanner a:visited{
	color:#FFFF66;
	font-weight:bold;
	}

#signOutBanner a:hover {
	color:#FF6666;
}
	
#navigationMainProjects {
	position:absolute;
	top:26px;
	left:105px;
	border:0px;
}

#navigationMainProjects ul {
	list-style:none;
}
	
#navigationMainProjects li {
	display:inline;
	padding-right: 15px;
	}
	

#navigationL2 {
	padding:0px;
	margin: 5px 0 0 0;
	width:958px;
	border:1px solid #999999;
	}

#navigationL2 ul {
	padding: 6px 0 6px 100px;
	margin:0px;
	list-style:none;
	}
	
#navigationL2 li {
	font-size:1.0em;
	letter-spacing:1px;
	display:inline;
	margin:0px;
	padding: 0 20px 0 20px;
	border-right:1px solid #999999;
	}
	
#navigationL2 a:link, #navigationL2 a:visited{
	color:#000000;
	text-decoration:none;
	}
	
#navigationL2 a:hover{
	color:#CC0000;
	text-decoration:none;
	border-bottom:1px dotted #CC0000;
	}

.projectL2  {
	background-color:#ffcccc;
	}

/* ORIGINAL CSS FROM ARCHANA FOLLOWS BELOW  */

/* 
#left{
	position:relative;
	right:34px;
}

#studentLinkPos{
	position:relative;
	bottom:5px;	
}

#registerHeading{
	position:relative;
	left:350px;
}

#registerDesc{
	align:center;
 	margin: 0px;
    text-align:justify;
    line-height:34px;
    border:1px solid black;	
}

#registerDesc.pos1{
	padding:0px;
	position:relative;
	left:260px;
	width:600px;
}

#registerDesc.regCenter{
	position:relative;
	align:center;
	text-align:justify;
	padding:0px;
	width:300px;
}
#registerDesc.left{
	position:relative;
	left:150px;
}

#registerDescAcctSpacing{
	line-height:40px;
}

#spacing{
    margin: 0px;
    padding: 0px 150px 0px 150px;
    text-align:justify;
    line-height:34px;
}

#spacing.left{
	position:relative;
	left:150px;
}

body {
    background-color: white;
}

a.none{
  text-decoration:none;	
}
label{
width: 120px;
float: left;
text-align: right;
margin-right: 10px;
display: block;

}

div {
    color: black;
    padding: 0.05em;
}

form  div
{
clear:left;
width: 50%;
padding: 2px;
position:center;
}

form div label{
text-align:center;
margin-right: 0.5em;
}


form#login {
	align:center;
    color: #000000;
    border: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.submit input 
{
	margin-left: 4.5em;
}

#navigation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.acctAlign{
	position:relative;
	left:350px;
}

#navigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#navigation li {
    display: inline;
    margin: 30px;
    padding: 0px;
}

#navigation li.vertical{
	display: block;	
}

#navigation a:link, #navigation a:visited{
    color: #1122BB;
    background-color: transparent;
	text-decoration:none;
}

#navigation li a:hover{
	color: green;
}


#verticalNavigation{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;	
    position:relative;
}

#verticalNavigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top:13px;
}

#verticalNavigation li {
    padding: 0px;
    margin: 25px;
    line-height:18px;
}

#verticalNavigation li.login{
	margin: 8px;
	line-height:20px;	
}

#verticalNavigation a:link, #verticalNavigation a:visited{
	padding: 3px 12px 5px 12px;
	color: black;
	background-color: rgb(150,180,230);
	text-decoration: none;
}

#verticalNavigation a:hover{
	padding: 3px 12px 5px 12px;
	color: black;
	background-color: rgb(0,200,130);
	text-decoration: none;
}

#headRows{
	font-size: 1.2em;
}

#headRows li{
	display:inline;
	margin: 0px;
	padding: 45px;
}

img#none{
	border:none;
}

img{
	position: top right;
	vertical-align: text-top;
	border:0px;
}

img.dynamicImage{
cursor:pointer;	
}	

ul.none{
	list-style-type: none;
	border:0px;
	border-color:white;
}

ul.plainList{
	list-style-type: none;
	border:0px;
	border-color:white;
}

ul#tabnav{
	list-style-type:none;
	margin:0px;
	padding:0px;
	font-style: bold;
	font-size: 1.247em;
	font-family: verdana, arial, sans-serif;
}


ul#tabnav li{
	float:left;
	height:1.2em;
	color: green;
	margin: 0px;
	border: 0.02em;
	border-style: solid;
	border-color: black;
}
ul#tabnav a:link, ul#tabnav a:visited{
	display: block;
	background-color: transparent;
	text-decoration: none;
	}

ul#tabnav a:hover{
	background-color: #AA11FF;
	color: #AAEECC;
}

.border{
	border:1px solid black;
}

#accountLoginBox{
	align:center;
	width:260px;
	margin:0px;
}

#j_username{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	width: 110px;
}

#j_password{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	width: 110px;
}

#signIn{
	position:relative;
	left:100px;
}

.center{
	text-align:center;
}

.border{
	border:1px solid black;
}

#whichAccountDescBox{
	width:550px;
	align:center;
	text-align:justify;
	padding-left:15px;
	padding-right:15px;
	border:1px solid black;	
}

.textLeft{
	text-align:left;
}  

#setuprunbox{
	width:850px;
	align:center;
	text-align:justify;
	position:relative;
	left:0px;
}	*/